<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.htymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h1 th:text="'List of Owners'">Owners List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>LAst Name</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="owner:${owners}">
            <td th:text="${owner?.id}">id</td>
            <td th:text="${owner?.firstName}">fn</td>
            <td th:text="${owner?.lastName}">ln</td>

        </tr>
        </tbody>
    </table>
</body>
</html>